<div class="col-md-4">
    <div>
        Enter your name:
        <input type="text" ng-model="name"></input>
    </div>
    <div>Hello {{name}}</div>
</div>
<div class="col-md-4">
    <div>
        Enter amount:
        <input type="text" ng-model="amount"></input>
    </div>
    <div>Amount : {{amount | currency}}</div>
</div>

