@Scripts.Render("~/Scripts/Custom/TasksController.js")
<div class="page-header">
    <h1>Adam's To Do List</h1>
</div>
<div class="panel" ng-controller="TaskController">
    <div class="input-group">
        <input class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-default">Add</button>
        </span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks"><td>{{task.Title}}</td></tr>
        </tbody>
    </table>

    <pre>Object Data : Tasks
        {{tasks | json}}
    </pre>

</div>