@Scripts.Render("~/scripts/angular.js")
@Scripts.Render("~/scripts/Custom/EmpController.js")

<h2>Index</h2>

<div ng-controller="EmpController">
    <ul>
        <li ng-repeat="emp in Employees">
            {{emp.Name}}
        </li>
    </ul>


    @* See what is linside department object that is coming as a JSON from server. One can use this for debuggin purpose. *@
    <pre>Object Data : Departments
{{Employees | json}}
</pre>
</div>
