@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
<br />
<address>
    https://github.com/KapsPro/WebDemo_MVC_2013
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kapil.b.khadgi@gmail.com">kapil.b.khadgi@gmail.com</a><br />
</address>